body {
  background: #f7f7f7; }

.jumbotron {
  background: url(../img/Hero.png);
  background-size: cover;
  height: 380px; }
  .jumbotron a {
    text-decoration: none; }
  .jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 96px; }
  .jumbotron select {
    width: 453px;
    margin: auto;
    background: rgba(255, 255, 255, 0.7);
    border: 3px solid #fff;
    border-radius: 0; }
  .jumbotron .hot {
    width: 800px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px #f1f1f1;
    box-shadow: 0 2px 4px #f1f1f1;
    position: absolute;
    top: 352px;
    left: calc(50% - 400px);
    padding: 18px 0; }
    .jumbotron .hot .btngroup .btn {
      width: 100%; }

.divide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .divide .line {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: calc(50% - 12px);
    border-bottom: 1px dashed #559AC8; }
  .divide .arrow {
    height: 24px;
    width: 24px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 50%;
    border: 1px solid #559AC8;
    background: #f7f7f7; }
    .divide .arrow img {
      height: 12px;
      width: 12px;
      margin: auto; }

.result {
  margin-top: 9rem; }
  .result .district-name {
    text-align: center;
    margin: 75px 0 25px 0;
    color: #8A82CC; }
  .result .list .card {
    margin-bottom: 35px;
    -webkit-transition: -webkit-box-shadow .6s;
    transition: -webkit-box-shadow .6s;
    -o-transition: box-shadow .6s;
    transition: box-shadow .6s;
    transition: box-shadow .6s, -webkit-box-shadow .6s; }
    .result .list .card:hover {
      -webkit-box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.5); }
    .result .list .card .card-img {
      height: 155px;
      overflow: hidden; }
      .result .list .card .card-img img {
        width: 100%; }
    .result .list .card .card-img-overlay {
      height: 155px; }
      .result .list .card .card-img-overlay .name {
        color: #fff;
        font-size: 24px;
        position: absolute;
        bottom: 0;
        width: 70%; }
      .result .list .card .card-img-overlay .zone {
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 1.25rem; }
    .result .list .card .card-body .content {
      margin-bottom: 5px; }
      .result .list .card .card-body .content.telDiv {
        display: inline-block; }
      .result .list .card .card-body .content.ticketDiv {
        display: inline-block;
        float: right; }
      .result .list .card .card-body .content img {
        margin-right: 5px;
        vertical-align: top; }
      .result .list .card .card-body .content span {
        display: inline-block;
        margin-left: 5px; }
      .result .list .card .card-body .content .opentime, .result .list .card .card-body .content .add {
        width: calc(98% - 25px); }
    .result .list .card .card-body .more {
      margin-top: 20px; }

nav.fix-bottom {
  background: #559AC8;
  height: 90px;
  color: #fff; }
  nav.fix-bottom div {
    width: 100%;
    text-align: center; }
  nav.fix-bottom .datasrc {
    color: #FFD366;
    text-decoration: none; }

.gotop {
  background: url(../img/btn_goTop.png) no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: fixed;
  z-index: 999;
  right: 5vw;
  bottom: 5vh;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  -o-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
  .gotop.is-visible, .gotop.is-fade-out {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    -o-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  .gotop.is-visible {
    visibility: visible;
    opacity: 1; }
  .gotop.is-fade-out {
    opacity: .5; }
  .gotop:hover {
    opacity: 1; }

@media only screen and (max-width: 375px) {
  .jumbotron select {
    width: 90%; }
  .jumbotron .hot {
    width: 100%;
    left: auto;
    top: 325px; }
    .jumbotron .hot .btngroup .btn {
      width: 100%;
      margin-bottom: 10px; } }

.modal .modal-body .modalImg {
  height: 200px;
  overflow: hidden; }
  .modal .modal-body .modalImg img {
    vertical-align: bottom;
    width: 100%; }

.modal .modal-body .modalInfo .content {
  margin: 5px 0; }

.modal .modal-body .modalInfo .description {
  text-align: justify;
  padding-bottom: 10px;
  border-bottom: 1px dashed #989898;
  line-height: 2; }

.modal .modal-body .modalInfo img {
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top; }

.modal .modal-body .modalInfo span {
  display: inline-block;
  width: calc(98% - 25px); }

.modal .modal-body .modalInfo .map {
  height: 300px; }
